HONEYGAIN_EMAIL="you@example.com"
HONEYGAIN_PASSWORD="your_honeygain_password"
HONEYGAIN_DEVICE="raspberrypi"

PAWNS_EMAIL="you@example.com"
PAWNS_PASSWORD="your_pawns_password"
PAWNS_DEVICE="raspberrypi"

TRAFFMONETIZER_TOKEN="your_token_here"

TZ="America/Edmonton"
