[Unit]
Description=EarnBox API Service
After=network.target docker.service

[Service]
WorkingDirectory=/home/pi/Raspberry-PI-Earning/backend
ExecStart=/usr/bin/node server.js
Restart=always
User=pi
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
